set :stage, :development

role :app, %w{vagrant@192.168.33.10}
role :web, %w{vagrat@192.168.33.10}
role :db,  %w{vagrant@192.168.33.10}


server '192.168.33.10', user: 'vagrant', roles: %w{web app}, my_property: :my_value


namespace :deploy do

  desc 'Setup API'
  task :setup do
    on roles(:app), in: :sequence, wait: 5 do
      within release_path do
        execute "cd #{release_path}/ut-arena-www; npm install; bower install"
        execute :rake, "-f cd #{release_path}/ut-arena-api/Rakefile db:setup"
      end
    end
  end

  desc 'Start API and frontend'
  task :start do
    on roles(:app), in: :sequence, wait: 5 do
      within release_path do
        execute "cd #{release_path}/ut-arena-api; rails s -b 192.168.33.10 -d"
        execute "npm --prefix #{release_path}/ut-arena-www/ start"
      end
    end
  end

  desc 'Stop API'
  task :stop do
    on roles(:app), in: :sequence, wait: 5 do
      within release_path do
        execute "kill -9 $(cat #{release_path}/ut-arena-api/tmp/pids/server.pid)"
        execute "rm #{release_path}/ut-arena-api/tmp/pids/server.pid"
      end
    end
  end

  desc 'Restart API'
  task :restart do
    invoke "deploy:stop"
    invoke "deploy:start"
  end

  after :finishing, 'deploy:cleanup'

end
